{% load static %}   <!--Loading the static tag-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'style.css' %}">

<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" 
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
/>


 <!------------------------N A V I G A T I O N B A R   A T     T H E   T O P----------------------------------->
 
 <div class="Navbar">
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="notepad">NOTEPAD</a>
        </li>
        <li>
            <a href="PdfToAudio">PDF</a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href="logout">LOGOUT</a>
            {% else %}
                <a href="login">LOGIN</a>
            {% endif %}
        </li>
    </ul>
 </div>


<!-- ----------------------------------- M A I N   H E A D I N G ----------------------------------- -->
<h1 class="Main_Heading"> speaking notepad </h1>



<!-- ----------------------------------- U P L O A D   T E X T ----------------------------------- -->

<form method="POST" action="notepad" >
    {% csrf_token %}

    <textarea class="Notepad" name="text" rows="12" cols="70" placeholder="Type something.."></textarea><br>
    
    
    
    <select class="Submit_Button" name="lang" id="lang" >
                
        <option value="en">English</option>
        
        <option value="af">African</option>
        <option value="ar">Arabic</option>
        <option value="bn">Bengali</option>
        <option value="bg">Bulgarian</option>
        <option value="ca">Catalan</option>
        <option value="yue">Chinese</option>
        <option value="da">Danish</option>
        <option value="nl">Dutch</option>
        <option value="en">English</option>
        <option value="fil">Filipino</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="el">Greek</option>
        <option value="hi">Hindi</option>
        <option value="id">Indonesian</option>
        <option value="it">Italian</option>
        <option value="ja">Japanese</option>
        <option value="kn">Kannada</option>
        <option value="ko">Korean</option>
        <option value="ms">Malay</option>
        <option value="ml">Malayalam</option>
        <option value="pl">Polish</option>
        <option value="pt">Portuguese</option>
        <option value="pa">Punjabi</option>
        <option value="ro">Romanian</option>
        <option value="ru">Russian</option>
        <option value="sr">Serbian</option>
        <option value="es">Spanish</option>
        <option value="th">Thai</option>
        <option value="uk">Ukrainian</option>
        <option value="vi">Vietnamese</option>
        
    </select>
    
    <button class="Submit_Button" type="submit">Submit</button>   
     
    {% for  message in messages %}
        <h5 class="Credential_Error_Message" >{{message}}</h5>
    {% endfor %}
</form>

<!-- ----------------------------------- A U D I O    P L A Y E R ----------------------------------- -->

{% if audio_is_TRUE == 'ok' %}

    <div class="Audio_Box">
                
        <audio id="myAudio" src="{% static 'speech.mp3' %}" preload="auto">
        </audio>

        <!--CONTROLS-->
        <div class="Audio_Box_inner">
                <!-- <button class="audio_controls" onclick=""><i class="fas fa-backward" title="-5sec"></i></button> -->
                <!-- <button class="audio_controls" onClick="togglePlay()"><i class="fas fa-play" id="play" title="Play"></i></button> -->
                <!-- <button class="audio_controls" onclick=""><i class="fas fa-forward" title="+5sec"></i></button> -->
            
                <button class="Download_Button" onClick="togglePlay()">LISTEN</button>

            <br><br>
            <div >
                {% if user.is_authenticated %}
                    <a class="Download_Button" href="{% static 'speech.mp3' %}" download="Audio">DOWNLOAD</a>
                {% else %}
                    <a class="Download_Button" href="">DOWNLOAD</a>
                {% endif %}
                
                {% for  message in messages %}
                    <h5 class="Credential_Error_Message" >{{message}}</h5>
                {% endfor %}
            </div>
        </div>

    </div>

    <script>
        var myAudio = document.getElementById("myAudio");

        function togglePlay() {
            return myAudio.paused ? myAudio.play() : myAudio.pause();
        };
    </script>

{% endif %}
